<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<head th:replace="template :: head">
<meta charset="UTF-8"/>
</head>
<body>
	
	<div layout:fragment="corpo">
	
		<form th:action="@{/movimentacao/cadastra}" th:object="${movimentacao}" method="post">
		
			<div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong>Alerta!</strong> <span>Existem erros no formulário</span>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		
			<input type="hidden" class="form-control" th:field="*{idMovimentacao}"/>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="nome">Quantidade</label>
			      <input type="text" class="form-control" th:field="*{quantidade}" id="quantidade"
			      th:classappend="${#fields.hasErrors('quantidade')} ? is-invalid"/>
			      <div class="invalid-feedback" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></div>
			    </div>
			    <div class="form-group col-md-6">
			      <label for="tipo">Tipo de Movimentacao</label>
			      <select class="form-control" th:field="*{tipo}">
			      	<option th:if="${movimentacao.tipo}" th:value="${movimentacao.tipo}" th:text="${movimentacao.tipo}"></option>
			      	<option th:each=" tipoMovimentacao,iterationStatus : ${tipoMovimentacao} " th:value="${tipoMovimentacao}" th:text="${tipoMovimentacao}"></option>
			      </select>
			    </div>
			  </div>
			  <div class="form-row">
			  	<div class="form-group col-md-6">
			      <label for="tipo">Estoque</label>
			      <select class="form-control" th:field="*{estoque.idEstoque}">
			      	<option th:if="${movimentacao.estoque.idEstoque}" th:value="${movimentacao.estoque.idEstoque}" th:text="${movimentacao.estoque.nome}"></option>
			      	<option th:each=" estoque,iterationStatus : ${estoques} " th:value="${estoque.idEstoque}" th:text="${estoque.nome}"></option>
			      </select>
			    </div>
			    <div class="form-group col-md-6">
			      <label for="nome">Produto</label>
			      <select class="form-control" th:field="*{produto.idProduto}">
			      	<option th:if="${movimentacao.produto.idProduto}" th:value="${movimentacao.produto.idProduto}" th:text="${movimentacao.produto.titulo}"></option>
			      	<option th:each=" produto,iterationStatus : ${produtos} " th:value="${produto.idProduto}" th:text="${produto.titulo}"></option>
			      </select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="descricao">Descrição</label>
			    <textarea class="form-control" th:field="*{descricao}" id="descricao" th:classappend="${#fields.hasErrors('descricao')} ? is-invalid"></textarea>
			      <div class="invalid-feedback" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></div>
			  </div>
			<button type="submit" class="btn btn-success">Cadastrar Movimentacao</button>
		</form>
	</div>
	
</body>
</html>