<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
<meta charset="UTF-8"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<title>Sistema Cadastro Estoque e Vendas</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" th:href="@{/home}">SCEV</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Estoque
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" th:href="@{/estoque/form}">Cadastrar Estoque</a>
	          <a class="dropdown-item" th:href="@{/estoque/lista}">Lista de Estoques</a>
	        </div>
	      </li>
	    </ul>
	    <ul class="navbar-nav">
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Produto
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" th:href="@{/produto/form}">Cadastrar Produto</a>
	          <a class="dropdown-item" th:href="@{/produto/lista}">Lista de Produtos</a>
	        </div>
	      </li>
	    </ul>
	    <ul class="navbar-nav ml-auto">
	    	<li>
	    		<a class="nav-link" href="#">Bem-vind@: Amina Maria</a>
	    	</li>
	    	<li>
	    		<a class="nav-link" href="#">Sair</a>
	    	</li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
	
		<div class="jumbotron text-center">
			<h2> Sistema de Cadastro de Estoque e Vendas </h2>
		</div>
		
		<div th:if="${mensagem}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Sucesso!</strong> <span th:text="${ mensagem }"></span>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<div th:if="${alerta}" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Alerta!</strong> <span th:text="${ alerta }"></span>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		
		<section layout:fragment="corpo">
			<p>Text Template</p>
		</section>
		
	</div>
	
</body>
</html>